body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
body * {
  font-family: 'Roboto', sans-serif;
}
.container {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
      "left-bar top-container"
      "left-bar center-container";
  }
a{
  text-decoration: none;
}

